header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
aside {grid-area: aside;}
footer {grid-area: footer;}

@media(max-width: 480px) and (orientation: portrait){
    body{
        display: grid;
        width: 100vw;
        height: 100vh;

        grid-template-columns: 1 fr;
        grid-template-rows: 5vw 7vw 1 fr 7vw 7vw;
        grid-template-areas:
            'header'
            'nav'
            'aside'
            'main'
            'footer';

        grid-gap: 10px;
        background-color: rgb(6, 4, 116);
        padding: 10px; 
    }
    nav a{display: inline-block;}
}

@media(max-width: 768px) and (orientation: landscape){
    body{
        display: grid;
        width: 100vw;
        height: 100vh;

        
    }
}